/* Product Side */
#loading_spinner {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.2);
}

.cv_spinner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span_spinner {
    width: 40px;
    height: 40px;
    border: 4px #ddd solid;
    border-top: 4px #2e93e6 solid;
    border-radius: 50%;
    animation: sp-anime 0.8s infinite linear;
}

@keyframes sp-anime {
    100% {
        transform: rotate(360deg);
    }
}

.product-media img {
    border-radius: 10px;
}

.filter-items a {
    padding-left: 2rem;
}

.filter-items li.active > a {
    color: #ff5200;
    font-weight: 600;
    background: #f1f1f1;
    border-radius: 0 20px 20px 0px;
}

.bg-primary {
    background-color: #fb6a25 !important;
}

#scroll-top i {
    background-color: #fb6a25;
    border: 2px solid #fff;
}

#scroll-top svg circle {
    stroke: #fb6a25;
}

.footer {
    background: #252525;
}
.footer-top {
    border-bottom: 1px solid #404040;
}
.footer-top .widget-title {
    color: #c0c0c0;
}
.footer .widget-about .widget-about-call {
    color: #c0c0c0;
}
.footer .widget-about .widget-about-title {
    color: #c0c0c0;
}
.header-search.hs-expanded .select-box {
    border: 2px solid #fb6a25;
    border-right: none;
}
.header-search input.form-control {
    border: 2px solid #fb6a25;
}
.header-search .btn-search {
    border-color: #fb6a25;
}
.cart-dropdown .cart-count {
    background: #fb6a25;
}
.menu > li:hover > a:not(.menu-title),
.menu > li.active > a:not(.menu-title) {
    color: #fb6a25;
}
.category-dropdown:hover > a,
.category-dropdown.show > a {
    color: #fff;
    background-color: #fb6a25;
}
.text-primary {
    color: #fb6a25 !important;
}
.header a:not(.btn):hover {
    color: #fb6a25;
}
.product-action-horizontal .btn-product-icon:hover,
.product-action-horizontal .btn-product-icon:active,
.product-action-horizontal .btn-product-icon:focus,
.product-hidden-details .btn-product-icon:hover,
.product-hidden-details .btn-product-icon:active,
.product-hidden-details .btn-product-icon:focus,
.product-list .product-details .btn-product-icon:hover,
.product-list .product-details .btn-product-icon:active,
.product-list .product-details .btn-product-icon:focus {
    color: #fb6a25;
}

.wishlist-table .product-price,
.wishlist-table .product-stock-status {
    text-align: left;
}
.product-gallery img {
    width: 100%;
    margin: 2rem;
    border-radius: 24px;
}
.product-single .product-categories {
    margin-bottom: 0;
}
.product-single .product-meta {
    margin-bottom: 0;
}

.product-price .new-price {
    color: #fb6a25;
}
.product-price span.price-label {
    font-size: 20px;
    padding-right: 10px;
}

.product-table th {
    text-align: left;
}

.product-table th.wishlist-action {
    text-align: center;
}

.breadcrumb.shop-breadcrumb li.active {
    color: #fb6a25;
}

.contact-us .icon-box .w-icon-hotline {
    font-size: 5.1rem;
}

.icon-box-primary .icon-box-icon i {
    color: #fb6a25;
}
.card-header a:hover {
    color: #fb6a25;
}
.card-header a.collapse {
    color: #fb6a25;
}
.footer a:hover,
.footer a:active,
.footer a.active {
    color: #fb6a25;
}
.page-header {
    background: url("../../user-assets/images/bg-banner.jpg");
    background-size: cover;
}
/*----------------------------------
    About Us
        - Icon Box
        - Timeline
-----------------------------------*/
.about-us .introduce .title {
    margin-bottom: 1.3rem;
    font-size: 4rem;
}
.about-us .introduce p {
    margin-bottom: 4.3rem;
    max-width: 57rem;
}
.about-us .introduce img {
    min-height: 20rem;
}
.about-us .customer-service .card-header {
    font-size: 1.8rem;
}
.about-us .customer-service p {
    font-size: 1.4rem;
    color: #333;
}
.about-us .customer-service img,
.about-us .boost-section img {
    width: 100%;
}
.about-us .customer-service .title,
.about-us .boost-section .title,
.about-us .member-section .title {
    font-size: 3.4rem;
}
.about-us .counter span {
    font-size: 6rem;
    font-weight: 800;
    color: #ccc;
    letter-spacing: -0.05em;
    line-height: 1.54;
}
.about-us .counter .title {
    margin-bottom: 1.2rem;
}
.about-us .boost-section {
    background-color: #fafafb;
}
.about-us .boost-section .title {
    line-height: 1.25;
    margin-bottom: 1.3rem;
}
.about-us .boost-section .btn {
    padding: 1.23em 2.35em;
}
.about-us .awards-wrapper .title {
    font-size: 3rem;
}
.about-us .awards-wrapper img {
    width: auto;
    margin: 0 auto 2rem;
}
.about-us .awards-wrapper p {
    margin-bottom: 0;
    font-size: 2rem;
    color: #333;
    line-height: 1.6;
    letter-spacing: -0.025em;
}
.about-us .member-section figure {
    position: relative;
    max-width: 29.5rem;
    margin: 0 auto 2.5rem;
}
.about-us .member-section figure:hover .overlay {
    padding-top: 0;
    opacity: 1;
}
.about-us .member-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10rem;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 1.3rem;
    opacity: 0;
    border-radius: 1.3rem;
    -webkit-transition: opacity 0.3s, padding-top 0.3s;
    transition: opacity 0.3s, padding-top 0.3s;
    cursor: pointer;
}
.about-us .member-section .overlay p {
    margin-bottom: 0;
    text-transform: uppercase;
}
.about-us .member-section .member-name {
    margin-bottom: 0;
}
.about-us .member-section .social-icon {
    width: 4.6rem;
    height: 4.6rem;
    font-size: 2.4rem;
    line-height: 4.1rem;
    border-color: #fff;
    color: #fff;
}
.about-us .member-section .social-icon:hover.social-facebook {
    background-color: #1b4f9b;
    border-color: #1b4f9b;
}
.about-us .member-section .social-icon:hover.social-twitter {
    background-color: #00adef;
    border-color: #00adef;
}
.about-us .member-section .social-icon:hover.social-instagram {
    background-color: #cc0001;
    border-color: #cc0001;
}

@media (max-width: 991px) {
    .about-us .customer-service .title,
    .about-us .boost-section .title {
        font-size: 2.5rem;
    }
}
@media (max-width: 767px) {
    .about-us .introduce .title {
        font-size: 3rem;
    }
}
.customer-review .testimonial blockquote {
    color: #fff;
    /* background: #fff; */
}
.testimonial-blockquote cite {
    color: #fff;
}

#account-orders .account-orders-table .order-total {
    width: 15%;
    text-align: left;
}
#account-orders .account-orders-table .order-status {
    text-align: center;
    text-transform: capitalize;
}
#account-orders .account-orders-table .order-date {
    width: 20%;
    text-align: left;
}
#account-orders .account-orders-table .order-id {
    padding-left: 3rem;
    width: 20.77%;
    text-align: left;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-item .nav-link.active,
.nav-tabs .nav-item:hover .nav-link {
    color: #fb6a25;
}

/* Form Validation */
.form-control.error:focus {
    border-color: #843534;
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 6px #ce8483;
}
.form-control.error {
    border-color: #a94442 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
label.error {
    color: #c10000 !important;
    font-size: 0.9em !important;
    line-height: 18px;
    padding: 5px 0 0;
}

#account-details .account-details-form .form-control {
    margin-bottom: 0rem;
}

.checkout .form-control {
    margin-bottom: 0;
}
.checkout .form-group {
    margin-bottom: 1.3rem;
}

.seller-reviews .testimonial img {
    border-radius: 5rem;
}
.seller-reviews h2 {
    font-size: 4rem;
}

/* Main reason section */
.main-reason-section {
    padding: 12rem 0 7rem;
    min-height: 136rem;
    font-size: 1rem;
}
.main-reason-section .count-wrapper {
    position: absolute;
    top: 0;
    left: 2rem;
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    z-index: 2;
}
.main-reason-section .count-wrapper label {
    display: block;
    font-size: 15rem;
    font-weight: 700;
    padding-top: 6px;
    line-height: 18rem;
}
.main-reason-section .animated-ellipses {
    position: relative;
}
.main-reason-section .animated-ellipses .ellipse {
    width: 18rem;
    height: 18rem;
    left: 2rem;
    border-radius: 50%;
    border: 1px solid #fff;
}
.main-reason-section .animated-ellipses .ellipse:nth-child(2) {
    animation-delay: 1s;
}
.main-reason-section .animated-ellipses .ellipse:nth-child(3) {
    animation-delay: 2s;
}
.main-reason-section .animated-ellipses .ellipse:nth-child(4) {
    animation-delay: 3s;
}
.main-reason-section .animated-ellipses .text-reasons {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    min-height: 18rem;
}
.main-reason-section .animated-ellipses h3 {
    font-size: 1.8em;
    letter-spacing: -0.025em;
    line-height: 1;
    border-radius: 4px;
    margin-left: 11rem;
    padding: 1.2rem 3rem 1.3rem 10rem;
    opacity: 0.9;
    z-index: 1;
}
.main-reason-section .animated-ellipses h3:first-child {
    background-color: #226395;
    background: linear-gradient(120deg, #417aa4 10%, #226395 60%);
}
.main-reason-section .animated-ellipses h3:nth-child(2) {
    background-color: #2b4964;
    background: linear-gradient(120deg, #466478 10%, #2b4964 60%);
}
.main-reason-section .animated-ellipses h3:nth-child(3) {
    background-color: #333;
    background: linear-gradient(120deg, #545454 10%, #333 60%);
    opacity: 1;
}
.main-reason-section h3 {
    font-size: 3em;
}
.main-reason-section p {
    max-width: 40rem;
    opacity: 0.7;
}
.main-reason-section .timeline:before {
    width: 2px;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    height: calc(100% - 30rem);
}
.main-reason-section .timeline-content {
    width: calc(50% - 11rem);
}
.main-reason-section .timeline-content h2 {
    font-size: 4.8rem;
    letter-spacing: -0.025em;
    line-height: 1;
    margin-bottom: 1rem;
}
.main-reason-section .timeline-content .timeline-title {
    font-size: 2rem;
}
.main-reason-section .timeline-box {
    min-height: 23rem;
}
.main-reason-section .timeline-box.left .timeline-content {
    padding-right: 3rem;
    margin-right: 3.5rem;
}
.main-reason-section .timeline-box.right .timeline-content {
    padding-left: 3rem;
    margin-left: 3.5rem;
}
.main-reason-section .timeline-node {
    flex: 1;
    max-width: 38.6rem;
}
@media (min-width: 992px) {
    .main-reason-section .animated-ellipses {
        margin-left: auto;
    }
}

.text-gradient {
    background-image: linear-gradient(
        90deg,
        #db49ff 0,
        #db49ff 25%,
        #2879fe 75%,
        #2879fe 100%
    );
    background-image: -webkit-gradient(
        linear-gradient(0deg, #db49ff 50%, #2879fe 50%)
    );
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(to right),
        color-stop(#db49ff),
        to(#2879fe)
    );
    background-size: 100%;
    background-repeat: repeat;
    background-position: 0 0;
    background-color: #2879fe;
    background-attachment: scroll;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
@media (-ms-high-contrast: active), (-ms-high-contrast: none) {
    .text-gradient {
        background: none;
        color: #2879fe;
    }
}
@keyframes ellipsedPulse {
    0% {
        opacity: 1;
        transform: scale(1);
    }
    25% {
        opacity: 0.4;
        transform: scale(1.2);
    }
    50% {
        opacity: 0.2;
        transform: scale(1.4);
    }
    75% {
        opacity: 0.1;
        transform: scale(1.6);
    }
    to {
        opacity: 0;
        transform: scale(1.8);
    }
}
.animated-ellipses .ellipse {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    animation: ellipsedPulse 4s infinite linear 4s;
}

.timeline {
    width: 100%;
    position: relative;
}
.timeline:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    width: 3px;
    height: 100%;
    background-color: #518de6;
}
.timeline-box {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
}
.timeline-box.left {
    justify-content: flex-start;
}
.timeline-box.left .timeline-content {
    text-align: end;
    padding-right: 1rem;
}
.timeline-box.right {
    justify-content: flex-end;
}
.timeline-box.right .timeline-content {
    text-align: start;
    order: 2;
    padding-left: 1rem;
}
.timeline-content {
    padding: 1rem 2rem;
    width: calc(50% - 3rem);
}
.timeline-node {
    display: flex;
    align-items: center;
    justify-content: center;
}
.timeline-box-circle .timeline-node {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background: #fff;
}
.timeline-node img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}
@media (max-width: 767px) {
    .timeline:before {
        content: none;
    }
    .timeline .timeline-box {
        flex-direction: column;
        justify-content: center;
    }
    .timeline .timeline-box .timeline-content {
        text-align: center;
        width: 100%;
    }
    .timeline .timeline-box p {
        max-width: none;
        margin: auto;
    }
    .timeline .timeline-box.left .timeline-node {
        order: -1;
    }
}
.search-section {
    min-height: 50rem;
    color: #fff;
}
.search-section h2 {
    color: #fff;
    text-align: center;
    font-size: 6rem;
    padding-top: 10rem;
}
.input-group .input-group-text {
    font-size: 2.8rem;
    color: white;
}
.search-section .search-form {
    padding: 36px;
    background: rgb(30 30 30 / 40%);
    border-radius: 8px;
}
.search-section .search-form .form-group {
    background: #fff;
}

.select2-container .select2-selection--single {
    height: 44px;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__rendered {
    color: #444;
    line-height: 40px;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 44px;
}

/* Intro-section */
.intro-section .swiper-button-prev,
.intro-section .swiper-button-next {
    margin-top: -0.2rem;
    font-size: 3.3rem;
    color: #666;
    background-color: transparent;
    opacity: 0;
    -webkit-transition: color 0.3s, opacity 0.3, -webkit-transform 0.3s;
    transition: color 0.3s, opacity 0.3, -webkit-transform 0.3s;
    transition: color 0.3s, transform 0.3s, opacity 0.3;
    transition: color 0.3s, transform 0.3s, opacity 0.3, -webkit-transform 0.3s;
}
.intro-section .swiper-button-next {
    right: 13.8%;
    -webkit-transform: translate(400%, -50%);
    transform: translate(400%, -50%);
}
.intro-section .swiper-button-prev {
    left: 13.8%;
    -webkit-transform: translate(-400%, -50%);
    transform: translate(-400%, -50%);
}
.intro-section .swiper-container:hover .swiper-button-prev {
    left: 13.8%;
}
.intro-section .swiper-container:hover .swiper-button-next {
    right: 13.8%;
}
.intro-section .swiper-container:hover .swiper-button-prev,
.intro-section .swiper-container:hover .swiper-button-next {
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    opacity: 1;
}
.intro-section
    .swiper-container
    .swiper-button-prev:not(.swiper-button-disabled):hover,
.intro-section
    .swiper-container
    .swiper-button-next:not(.swiper-button-disabled):hover {
    color: #336699;
    background-color: transparent;
}

.intro-slide {
    min-height: 520px;
    height: 100%;
}
.intro-slide .banner-content {
    margin-top: -0.3rem;
}
.intro-slide .banner-subtitle {
    font-size: 4em;
}
.intro-slide .banner-title {
    font-size: 5em;
    margin-bottom: 0.1rem;
}
.intro-slide p {
    margin-bottom: 2.1rem;
    font-size: 2.4em;
}
.intro-slide .btn {
    padding: 1.23em 2.45em;
    font-size: 1.4em;
}
.intro-slide .slide-image {
    position: absolute;
    width: 47.4rem;
}

.intro-slide1 .banner-content {
    right: 3.9%;
}
.intro-slide1 .banner-subtitle span::after {
    position: absolute;
    bottom: 0;
    left: -0.4rem;
    content: "";
    width: 2.8em;
    height: 0.3rem;
    background-color: #f77c29;
}
.intro-slide1 .slide-image {
    right: 36%;
    top: 12%;
}

.intro-slide2 .banner-content {
    left: 27.4%;
    margin-top: -0.5rem;
}
.intro-slide2 .banner-subtitle {
    margin-bottom: 0.3rem;
    font-size: 3.8em;
}
.intro-slide2 .banner-title {
    line-height: 1.08;
}
.intro-slide2 .slide-image {
    right: 1.3%;
    top: -5.8%;
}

.intro-slide3 .banner-content {
    right: 4.6%;
    margin-top: -0.7rem;
}
.intro-slide3 .banner-subtitle {
    margin-bottom: 0.3rem;
}
.intro-slide3 .banner-title {
    margin-bottom: 2.3rem;
}
.intro-slide3 .banner-title::before,
.intro-slide3 .banner-title::after {
    position: absolute;
    content: "";
    background-color: #f77c29;
}
.intro-slide3 .banner-title::before {
    top: 50%;
    -webkit-transform: translateY(-50%) matrix(1, 0, -0.35, 1, 0, 0);
    transform: translateY(-50%) matrix(1, 0, -0.35, 1, 0, 0);
    right: 3.34em;
    width: 3.14em;
    height: 0.92em;
    border-radius: 0.3rem;
    z-index: -1;
}
.intro-slide3 .banner-title::after {
    right: 0;
    bottom: 0.15em;
    width: 3.62em;
    height: 0.3rem;
}
.intro-slide3 p {
    font-size: 2.2em;
    line-height: 1.6;
}
.intro-slide3 .slide-image {
    right: 44%;
    top: 10%;
    width: 31rem;
}

.banner {
    position: relative;
    font-size: 1.6rem;
}
.banner figure {
    margin: 0;
}
.banner img {
    width: 100%;
    object-fit: cover;
}
.banner h1,
.banner h2,
.banner h3,
.banner h4,
.banner h5,
.banner h6 {
    line-height: 1;
}
.banner .container:not(.banner-content) {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.ibanner {
    font-size: 10px;
}
aside .banner {
    font-size: 1.6rem;
}
.banner-layer {
    position: absolute;
    left: 6%;
    right: 6%;
}
.banner-content {
    position: relative;
}
.banner-layer-top {
    top: 7%;
}
.banner-layer-bottom {
    bottom: 5%;
}
.banner-layer-space {
    left: 0;
    right: 0;
    padding: 1em 1.5625em;
}
.banner-layer-left {
    right: auto;
}
.banner-layer-right {
    left: auto;
}
.banner-layer-center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.banner-layer-middle {
    top: 50%;
    transform: translateY(-50%);
}
.bg-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.banner-h-100 {
    height: 100vh;
}
@media (max-width: 1199px) {
    .banner {
        font-size: 1.4rem;
    }
    .ibanner {
        font-size: 1rem;
    }
}
@media (max-width: 767px) {
    .banner-md-vw-small {
        font-size: 1.8vw;
    }
    .banner-md-vw {
        font-size: 2.3vw;
    }
    .banner-md-vw-large {
        font-size: 3vw;
    }
}
@media (max-width: 575px) {
    .banner-md-vw-small {
        font-size: 2.3vw;
    }
    .banner-sm-vw {
        font-size: 1.2rem;
    }
    .banner-sm-vw-large {
        font-size: 4vw;
    }
}

.call-section {
    position: relative;
    padding: 4rem 0 4rem;
}

.call-section h4 {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0;
}
.call-section h2 {
    font-size: 3.2rem;
    margin-bottom: 0;
}
.call-section h3 {
    font-size: 1.8rem;
    margin-bottom: 0;
    color: rgba(255, 255, 255, 0.7);
}
@media (min-width: 992px) {
    .call-action {
        text-align: left;
    }
}
.call-action {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.call-section .divider {
    padding-right: 2.8rem;
    margin-right: 2.8rem;
    border-right: 1px solid rgba(231, 231, 231, 0.1);
}
.call-section .btn {
    padding: 1.8rem 3.78rem 1.7rem;
}
.call-section a {
    font-size: 1.8rem;
    font-weight: 600;
}

.btn-outline-white {
    color: #fff;
    border: 2px solid #fff;
    background: transparent;
}

.offer-head {
    border: 1px solid #d8d8d8;
    border-bottom: none;
    padding: 10px;
}

.offer-card {
    border: 1px solid #d8d8d8;
    border-top: none;
    padding: 20px 40px;
}

.side-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}

.fourth-item {
    margin-left: 60px;
}

.no-record {
    padding: 100px 20px;
}

.blueBtn {
    border: none;
}

.whiteBtn {
    background-color: white;
    color: black;
}

.address-input {
    border: 1px solid black;
    border-radius: 5px;
    width: 50%;
    height: 35px;
}

.whiteBtn:hover {
    background-color: #fb6a25;
}

.blueBtn:hover {
    opacity: 0.9;
    background-color: #fb6a25;
}

.first-item {
    flex: 20%;
}

.small-container {
    flex: 80%;
}

.gateway-container {
    padding: 20px;
}

@media (max-width: 570px) {
    .offer-head {
        display: none;
    }
    .offer-card {
        border: 1px solid black;
        margin-bottom: 5px;
        border-radius: 5px;
    }
    .small-container {
        flex-direction: column;
        align-items: center;
    }
    .third-item {
        margin-left: auto;
    }
    .fourth-item {
        margin-left: auto;
    }
    .blueBtn {
        width: 100px;
    }
    .display-div {
        display: none;
    }
}
